body {
	font-family: 'Lato', Helvetica,sans-serif;
	background: #226083;
	color: #FFF;
}

h1 small {
	color: #FFF;
}

h1 { 
font-weight: bold;
} 

.big-branding h2 { 
font-weight: bold;
} 

.biginfo {
	padding-bottom: 1.1rem;
}


.container {
	padding:0;
	padding-left:1rem;
	margin-top: 2rem;
	max-width: 680px;
}

.branding {
	text-align: left;
}

.branding small{
	color: #FFF;
}


.today-temp {
	text-align: left;
}

.today-icon {
	font-size: 1200%;
	margin-top: 2rem;
	padding-bottom: 1rem;
}

.today-data {
	/*border: solid 1px #FFF;*/
}

.today-data h1, h2 {
	font-size: 600%;
}

.today-data ul {
	display: block;
	padding-left:0;
	list-style: none;
	font-weight: normal;
	line-height: 3rem;
}



.fourdays {
	
}

.fourdays .dayname{
	font-weight: bold;
	font-size: 120%;
}


.fourdays .icon {
	/*left: 900px;*/
	font-weight: bold;
	text-align: right;
	font-size: 200%;
	/*border: solid 1px #FFF;*/
}

.fourdays .temp {
	font-weight: bold;
	text-align: right;
	font-size: 195%;
	/*margin-bottom: 3rem;*/
	/*border: solid 1px #FFF;*/
}

